.header-bg{
    background: #E5E8E8 ;

}

main{
    background:#E5E7E9 ;
}

.main-bg{
    background:#D6DBDF ;
}

footer{
    background:#ABB2B9;
    margin: 0%;

}

.ps-10{
    padding-left: 10%;
}

